
		*{
			display:flex;
			flex-direction: column;
			margin:auto;
			color:rgb(72,82,94);
		}
		ul{
			margin-left:1em;
			
		}
		li{
			margin:0;
			margin-left:1em;
			padding:0;
		}
		h2 {
			color:rgb(110,115,124);
		}
		h4 {
			margin-left:1em;/*
			margin-right:1em;*/
			margin:0.75em 1em 1em 1em;
		}
		.main {
			margin-top: 1em;
			background-color:rgb(251,242,212);
			border: 1px solid rgb(241,229,188);	
		}

		.block{
			border-top: 1px solid rgb(241,229,188)	;
			border-bottom: 1px solid rgb(241,229,188)	;
			background-color:rgb(253,247,227);
			margin-left:0;	
			margin-right:0;
			padding:0
			}
				}